.DS_STORE
.idea/
.vscode/
.ipynb_checkpoints/
venv/
*.pyc
__pycache__/
label_encoding.pkl
*.zip
deepspeech-0.7.3-models
ffcc_keras_model
infraset_model.torch
save_audio
*.swp
mycroft_speech/
data.json